@keyframes progess1 {
    0% {
        width: 0px;

    }

    100% {
        width: 90%;

    }
}

@keyframes progess2 {
    0% {
        width: 0px;

    }

    100% {
        width: 70%;

    }
}

@keyframes progess3 {
    0% {
        width: 0px;

    }

    100% {
        width: 90%;

    }
}

@keyframes progess4 {
    0% {
        width: 0px;

    }

    100% {
        width: 60%;

    }
}



@keyframes progessEnd1 {
    0% {
        width: 70%;

    }

    100% {
        width: 0px;

    }
}

@keyframes progessEnd2 {
    0% {
        width: 60%;

    }

    100% {
        width: 0px;

    }
}

@keyframes progessEnd3 {
    0% {
        width: 90%;

    }

    100% {
        width: 0px;

    }
}

@keyframes progessEnd4 {
    0% {
        width: 90%;

    }

    100% {
        width: 0px;

    }
}